@media screen and (max-width: 768px) {
  /* navbar */

  .logo {
    left: 1em;
  }

  .nav-links {
    position: fixed;
    left: -1em;
    height: 100vh;
    top: -43em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: top 0.5s ease-in;
    overflow-y: auto;
  }
  .nav-links li {
    opacity: 0;
    width: 100%;
    text-align: left;
  }
  .burger {
    position: relative;
    border-radius: 3px;
    border: 1px solid black;
    left: 14em;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .dropdown-content,
  .nested-dropdown-content {
    position: static;
    display: none;
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .dropdown-content a,
  .nested-dropdown-content a {
    color: white;
  }
  .dropdown-active > .dropdown-content,
  .nested-dropdown-active > .nested-dropdown-content {
    display: block;
  }
  .dropdown-content {
    display: none;
    background-color: white;
    box-shadow: none;
    width: 100%;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .nested-dropdown-content a {
    left: 1em;
  }

  .dropdown-active > .dropdown-content {
    display: block;
  }

  /* navbar end*/

  /* carousel */

  .slider {
    top: 5em;
  }

  .prev,
  .next {
    width: auto;
    font-size: 0.9em;
  }

  .indicators {
    bottom: 2em;
  }

  .indicator {
    height: 12px;
    width: 12px;
  }

  /* carousel end */

  /* footer */

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .footer-social ul {
    flex-direction: column;
  }

  .footer-social ul li {
    margin: 10px 0;
  }

  /* footer end */
}
